@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    width: 100%;
    height: 45px;
    background-color: rgb(101 101 101 / 8%);
}

.content-container {
    flex: 1;
    height: 100%;
    overflow: auto;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.server-settings {
    display: flex;
    justify-content: flex-end;
}

.host {
    font-size: 11px;
}

.status {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.55);
}

.labels {
    text-align: right;
}

.settings {
    padding-top: 2px;
}

.hostname {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.git-branch {
    display: flex;
    align-items: flex-end;
}

.nav-panel {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 890px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-top: 5px;
}

.logo img {
    max-width: 70px
}
.menu {
}
.menu ul{
    display: flex;
    padding: 4px 6px;
    background-color: #dcdcdc;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

.menu ul li{
    list-style: none;
    border-radius: 10px;
}

.menu ul li a {
    text-decoration: none;
    padding: 1px 22px 0;
    text-align: center;
    color: black;
}

.menu ul li.active {
    background-color: #535353;
}

.menu ul li:active {
    background-color: #cbcaca;
}

.menu ul li.active a {
    color: white;
}
.footer {
    margin-bottom: 15px;
}

.body {
    padding: 5px 35px;
    flex: 1;
    overflow: auto;
}

.header {
    display: flex;
    padding: 20px 33px;
    margin-top: 20px;
}

.label {
    margin-left: 10px;
}

.children {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

.icon {
    font-size: 30px;
    display: flex;
    margin-right: 15px;
}

.endpointItem {
    border: 1px solid #d9d9d9;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    padding: 5px 8px;
    font-size: 14px;
}

.endpointItem p{
    margin: 0;
    font-weight: 300;
}

.type {
    margin-right: 20px;
    min-width: 60px;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
}

.desc {
    padding-top: 3px;
    font-size: 13px;
}

.get {
    color: #4200f6;
}

.post {
    color: #489a00;
}

.put {
    color: #c79501;
}

.patch {
    color: #aeb818;
}

.delete {
    color: #EB2F26;
}

.options {
    color: #02acb1;
}

.head {
    color: #448082;
}
.signalItem {
    border: 1px solid #d9d9d9;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    padding: 5px 8px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}
.signal-name {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}
.signal-name p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    margin-right: 15px;

}
.signal-title {
    margin-right: 20px;
    min-width: 60px;
    color: #e29e01;
}
.desc-signal {
    padding-top: 3px;
    font-size: 13px;
}
.btn-nav {
    padding: 4px 5px 0;
    border: 0;
    font-size: 18px;
    margin: 0 0 0 10px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-nav:hover {
    background-color: #e8e8e8;
}
.container-body {
    max-width: 890px;
    margin: 35px auto;
}
.btn {
    color: #fff;
    background-color: transparent;
    outline: 0;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.btn-round {
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.btn-sm {
    padding: 4px 15px;
    font-size: 13px;
}
.btn-sm-1 {
    padding: 4px 20px;
    font-size: 15px;
}

.btn-md {
    padding: 4px 5px 0;
    font-size: 18px;
}
.btn-ghost-grey {
    background-color: #eeeeee;
    color: #535353;
}
.btn-ghost-grey:hover {
    color: white;
    background-color: #535353;
}
.btn-ghost-grey:active {
    color: white;
    background-color: #3b3b3b;
}
.btn-outline-red {
    color: #535353;
}
.btn-outline-red:hover {
    color: #f52323;
}
.btn-outline-red:active {
    color: #6f0000;
}

.action-area {
    display: flex;
}
.action-area button {
    margin-left: 10px;
}
#contentFile {
    display: none;
}
.state-container {
    display: flex;
    align-items: flex-start;
}
.state-container .content-area {
    flex: 1;
}
.modal-header h3, .h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.modal-header p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 13px;
    color: gray;
}
.modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.modal-footer {
    margin-top: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.red {
    color: #ed2125;
}
.desc {
    margin-bottom: 15px;
}
.desc p {
    margin: 0;
    padding: 0;
}
.desc p.label {
    text-transform: uppercase;
    color: #313131;
    font-size: 11px;
}
.desc p.data {
    font-size: 15px;
    margin-top: 3px;
}
.row {
    display: flex;
}
.row > div {
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
}
.input-style {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 6px 10px;
}
.space-title {
    margin-top: 30px;
    margin-bottom: 20px;
}